{% extends "base.html" %}

{% block content %}

<style type="text/css">
div.f1 { float: left; width: 150px;}
div.f2 { float: left; text-align: right; width: 150px; }
div.f3 { clear: both; }
</style>

<form action=""  method="post">
  {% csrf_token %}

<div class="content-center">
<div>
<select name="checked" id="option1">
   <option value="checked_only">Checked Only</option>
   <option value="all" {% if not user_preferences.view_checked_only %} selected {% endif %}>Checked & Other</option>
 </select>
</div>
<div>
<select name="encumbered" id="option2">
   <option value="encumbered_only">Encumbered Only</option>
   <option value="all" {% if not user_preferences.view_encumbrances_only %} selected {% endif %}>Encumbered & Other</option>
 </select>
</div>
<div>
<select name="future" id="option3">
   <option value="future_only">Future Only</option>
   <option value="all" {% if not user_preferences.view_future_only %} selected {% endif %}>Future & Other</option>
 </select>
</div>
<div>
<p><input type="submit" alt="register" /></p>
</div>

{% if can_edit %}
<a href="{% url 'new_budget_entry' %}?next={{ request.path|urlencode }}"> New Budget Entry </a>
<p></p>
{% endif %}

</div>

 <div id="year-accordion" class="accordion" >
{% for owner in data_list %}
   <div class="accordion-group">
     <div class="accordion-heading">
       <a class="accordion-toggle"
	   data-toggle="collapse"
	   data-parent="#year-accordion"
	   href="#{{owner.department_member.id}}">
	 <div class="f1">{{owner.department_member}}</div>
	 <div class="f2">
	   {{owner.total}}
	 </div><div class="f3"></div>
	 
	</a>
       </div>{# accordion-heading #}

      <div id="{{owner.department_member.id}}" class="accordion-body collapse">
	<div class="accordion-inner">

<div class="content-center">
    <table class="table table-striped table-bordered table-hover" style="width: 900px">
      <thead>
	<tr>
	  <th colspan="4"> Summary </th>
	</tr>
	<tr>
	<td> Subaccount </td>
	<td style="text-align: center;"> Total Orig Budget</td>
	<td style="text-align: center;"> Total Adj Budget</td>
	<td style="text-align: center;"> Amount Remaining </td>
	<td style="text-align: center;"> Share</td>
	<td style="text-align: center;"> Share of Amount Remaining</td>
	</thead>
      <tbody>
	    {% for subaccount in owner.subaccount_summary %}
	    <tr>
	      <td style="text-align: left;"> {{subaccount.subaccount}}</td>
	      <td style="text-align: center;"> {{subaccount.available}}</td>
	      <td style="text-align: center;"> {{subaccount.adjusted_available}}</td>
	      <td style="text-align: center;"> {{subaccount.amount_remaining}}</td>
	      <td style="text-align: center;"> {{subaccount.fraction}}</td>
	      <td style="text-align: center;"> {{subaccount.amount_remaining_share}}</td>
	    </tr>
	    {% endfor %}
	    <tr>
	      <td colspan="5" style="text-align: right;"> <strong>Total </strong> </td> 
              <td style="text-align: center"> <strong>{{owner.total}} </strong></td>
	    </tr>
      </tbody>
    </table>
 </div>

</div>
</div>
</div>
{% endfor %}
</div>

<div class="content-center">

<div>
<p><input type="submit" alt="register" /></p>
</div>

{% if can_edit %}
<a href="{% url 'new_budget_entry' %}?next={{ request.path|urlencode }}"> New Budget Entry </a>
<p></p>
{% endif %}

</div>


</form>

  <script>
    $(window).load(function(){
    $("#nav-summary").addClass("current");
    $('.page-name').find('h1').replaceWith('<h1>Department Member Summaries ({{fiscal_year}})</h1>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
  </script>

{% endblock %}
